<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nicolai.postgresql16</string>
    <key>UserName</key>
    <string>nicolaitanghoj</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/libexec/start_postgres_minidata.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ExitTimeOut</key>
    <integer>120</integer>
    <key>SoftResourceLimits</key>
    <dict>
        <key>NumberOfFiles</key>
        <integer>4096</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/nicolaitanghoj/Library/Logs/postgresql16.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/nicolaitanghoj/Library/Logs/postgresql16.log</string>
</dict>
</plist>
